.task-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 0.5rem;
}

.task-form-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0.6em 1.2em;

  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;

  font-size: 1em;

  transition: border-color 0.25s;
}

.task-form-input-container:hover {
  border-color: #646cff;
}

.task-form-input-container:focus,
.task-form-input-container:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.task-form-input-container input {
  background-color: transparent;
  border: none;
}

.task-form-input-container input:focus {
  outline: none;
}

.task-form-input-container input::placeholder {
  opacity: 0.4;
}

@media (prefers-color-scheme: light) {
  .task-form-input-container {
    background-color: #f9f9f9;
  }
}
